*{

margin:0;

padding:0;

box-sizing:border-box;

}




body{

min-height:100vh;


background:

linear-gradient(

180deg,

#050505,

#21131c,

#f8c7dc

);


font-family:Arial,sans-serif;

color:white;

overflow:hidden;

}





.container{

min-height:100vh;

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;

padding:30px;


position:relative;

z-index:2;

}





h1{

text-align:center;

font-size:25px;

color:#ffe5f0;

margin-bottom:50px;

}





/* конверт */


.envelope{

width:280px;

height:190px;

background:#f4a6c8;

position:relative;

border-radius:12px;

cursor:pointer;


box-shadow:

0 0 30px #f4a6c8;


animation:floatEnvelope 3s infinite;


transition:

opacity 1s,

transform 1s;

}





@keyframes floatEnvelope{


50%{

transform:translateY(-10px);

}


}





.flap{

position:absolute;

top:0;

left:0;


width:0;

height:0;


border-left:140px solid transparent;

border-right:140px solid transparent;

border-top:100px solid #e88db5;


transform-origin:top;

transition:1s;

}





.heart-seal{

position:absolute;

top:70px;

left:120px;

font-size:45px;

color:white;

}





.envelope.open .flap{

transform:rotateX(180deg);

}




.envelope.hide{

opacity:0;

transform:scale(0.7);

}






/* письмо */


.letter{


background:white;

color:#4a2735;


max-width:350px;

padding:30px;


border-radius:20px;


line-height:1.6;


box-shadow:

0 0 25px white;



display:none;


opacity:0;


transform:translateY(50px);


transition:

opacity 1s,

transform 1s;


}





.letter.show{


display:block;


opacity:1;


transform:translateY(0);


}





.letter h2{

text-align:center;

margin-bottom:20px;

}




.letter p{

margin-bottom:15px;

}




.end{

text-align:right;

font-family:cursive;

}





.hint{

margin-top:30px;

color:#ffe5f0;

}





/* частицы */


.particles{


position:fixed;


top:0;


left:0;


width:100%;


height:100%;


overflow:hidden;


pointer-events:none;


z-index:1;


}




.particle{


position:absolute;


top:-40px;


image-rendering:pixelated;


opacity:0.8;


animation:slowFall linear forwards;


}





@keyframes slowFall{


0%{


transform:

translateY(-40px)

rotate(0deg);


}



100%{


transform:

translateY(110vh)

rotate(360deg);


}


}