*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{

min-height:100vh;

background:
linear-gradient(
180deg,
#050505,
#1b1118,
#f8c7dc
);

font-family:Arial,sans-serif;

color:white;

}



.container{

display:flex;

flex-direction:column;

align-items:center;

padding:40px 20px;

}




.vinyl-box{

position:relative;

display:flex;

justify-content:center;

align-items:center;

}



.vinyl{

width:230px;

animation:spin 7s linear infinite;

filter:drop-shadow(0 0 20px #f4a6c8);

}



@keyframes spin{

from{
transform:rotate(0deg);
}

to{
transform:rotate(360deg);
}

}



.vinyl-text{

position:absolute;

text-align:center;

font-size:8px;

color:white;

opacity:0.8;

}





button{

margin-top:35px;

background:#f4a6c8;

border:none;

padding:16px 35px;

border-radius:40px;

font-size:18px;

color:#351523;

box-shadow:0 0 20px #f4a6c8;

}



.scroll{

margin-top:50px;

font-size:25px;

animation:float 2s infinite;

}



@keyframes float{

50%{

transform:translateY(10px);

}

}





.gallery{

width:100%;

display:flex;

flex-direction:column;

align-items:center;

gap:35px;

margin-top:60px;

}




.polaroid{

background:white;

width:90%;

max-width:380px;

padding:12px;

padding-bottom:25px;

box-shadow:0 10px 25px rgba(0,0,0,0.4);


opacity:0;

transform:
translateY(60px)
rotate(-3deg);


transition:

opacity 1s ease,

transform 1s ease;

}




.polaroid.show{

opacity:1;

transform:
translateY(0)
rotate(-3deg);

}



.polaroid:nth-child(even).show{

transform:
translateY(0)
rotate(3deg);

}




.polaroid img{

width:100%;

display:block;

}



.polaroid p{

color:#4a2735;

font-size:13px;

text-align:center;

margin-top:15px;

font-family:cursive;

}





.little-text{

font-size:14px;

color:#ffe5f0;

text-align:center;

}





.minecraft{

margin-top:70px;

display:flex;

gap:20px;

align-items:center;

}



.minecraft img{

width:65px;

image-rendering:pixelated;

}